@import '../../../styles/variables.scss';

.not-found-container {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

.message-404 {
  display: inherit;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  color: $background-default-input;

  span {
    font-size: 16rem;
  }

  img {
    width: 16rem;
  }
}

.message-not-found {
  text-transform: uppercase;
  font-size: 8rem;
  color: $text-title-red;
}
