<div class="nav-container">
  <nav>
    <a class="logo" routerLink="/">
      <img src="../../../assets/images/Pokemon-Logo.png" alt="Pokemon Logo">
    </a>
    <div class="menu">
      <a routerLinkActive="active" routerLink="/home">Home</a>
      <a routerLinkActive="active" [routerLink]="['/pokemon-details/details', 1]">Details</a>
      <a routerLinkActive="active" [routerLink]="['/pokemon-details/type', 1]">Types</a>
      <a routerLinkActive="active" routerLink="/pokemon-details/add-pokemon">Add Pokemon</a>
    </div>
  </nav>
</div>
