<div class="stats-container">
  <p>{{stats.description}}</p>
  <div class="stats" *ngFor="let stat of stats.stats">
    <span class="bold-text">{{stat.name}}</span>
    <span class="normal-text">{{stat.value}}</span>
    <span class="graphic">{{stat.value}}</span>
    <span class="normal-text">{{stat.value}}</span>
    <span class="normal-text">{{stat.value}}</span>
  </div>
  <div class="stats">
    <span class="bold-text">Total</span>
    <span class="normal-text">{{stats.total}}</span>
    <span></span>
    <span class="bold-text">Min</span>
    <span class="bold-text">Max</span>
  </div>
</div>
