@import '../../../../styles/variables.scss';

.stats-container {
  display: grid;
  grid-auto-rows: min-content;
  gap: $gap-x03;
  padding: $padding-x2;
  border-radius: $border-radius-x2;
  width: 100%;
  height: 100%;
  font-size: $font-size-x01;

  p {
    text-align: justify;
    color: $text-paragraph;
  }
}

.stats {
  display: inherit;
  grid-template-columns: 1fr 1fr 4fr 1fr 1fr ;
  gap: $gap-x02;
}

.bold-text {
  font-weight: $font-weight-bold;
}

.normal-text {
  color:$text-paragraph;
}

.graphic {

}
