$primary-font: 'RobotoRegular';
$font-weight-regular: normal;
$font-weight-bold: bold;
$line-height: 1.5rem;

$font-size-small: 2.0rem;
$font-size-medium: 2.4rem;
$font-size-large: 3.0rem;
$font-size-xlarge: 3.6rem;

$text-title-red: #EA5D60;
$text-subtitle-black: #17171B;
$text-paragraph: #747476;

$background-pressed-input:#E2E2E2;
$background-default-input:#F2F2F2;
$background-white: #FFFFFF;
$background-white-stroke: #EEE9F5;

$pokemon-black: #1E1E1E;
$pokemon-blue: #68A0F3;
$pokemon-brown: #A35B3F;
$pokemon-gray: #929292;
$pokemon-green: #48D0B0;
$pokemon-pink: #FFA8D9;
$pokemon-purple: #A040A0;
$pokemon-red: #F08030;
$pokemon-white: #FFFFFF;
$pokemon-yellow: #F8D030;
$pokemon-cyan: #8BE0D0;
$pokemon-unknown: #68A090;
