@import '../../../styles/variables.scss';

select {
  font-size: $font-size-x1;
  border-radius: $border-radius-x1;
  padding: $padding-x2;
  background-color: $background-default-input;
  border: none;
  cursor: pointer;
  outline: none;

  option {
    font-size: $font-size-x1;
    cursor: pointer;
  }
}
