@import './styles/variables.scss';

@font-face {
  font-family: 'RobotoRegular';
  src: url('../src/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoBold';
  src: url('../src/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $primary-font;
  font-weight: $font-weight-regular;
}

html{
  font-size: 62.5%;
}

.container-black {
  background-color: $pokemon-black;
}

.container-blue {
  background-color: $pokemon-blue;
}

.container-brown {
  background-color: $pokemon-brown;
}

.container-gray {
  background-color: $pokemon-gray;
}

.container-green {
  background-color: $pokemon-green;
}

.container-pink {
  background-color: $pokemon-pink;
}

.container-purple {
  background-color: $pokemon-purple;
}

.container-red {
  background-color: $pokemon-red;
}

.container-white {
  background-color: $pokemon-white;
}

.container-yellow {
  background-color: $pokemon-yellow;
}

.container-cyan {
  background-color: $pokemon-cyan;
}

.container-unknown {
  background-color: $pokemon-unknown;
}
