@import '../../../styles/variables.scss';

.badge-container {
  display: grid;
  justify-items: center;
  align-items: center;
  width: min-content;
  aspect-ratio: 1;
  border-radius: $border-radius-circle;
  padding: $padding-x2;

  .badge-icon {
    color: $background-white;
    font-size: $font-size-x4;
    height: $font-size-x4;
    width: $font-size-x4;
  }
}
