@import '../../../styles/variables.scss';

.about-card-container {
  display: grid;
  gap: $gap-x03;
  padding: $padding-x2;
  border-radius: $border-radius-x2;
  width: 100%;
  height: 100%;

  h2 {
    font-size: $font-size-x01;
    font-weight: $font-weight-bold;
  }

  p {
    color:$text-paragraph;
    font-size: $font-size-x01;
  }
}

.data-table {
  display: inherit;
  grid-template-columns: 1fr 3fr;
  gap: $gap-x01;
  font-size: $font-size-x01;

  h4 {
    font-weight: $font-weight-bold;
  }

  span {
    color:$text-paragraph;
  }
}
