<div class="pokemon-types-container">
  <div class="pokemon-types-list-container">
    <h2>Pokémon types:</h2>
    <p>Sekect a type of which you want to know its characteristics.</p>
    <app-symbol-list></app-symbol-list>
  </div>
  <div class="pokemon-types-details-container">
    <div class="pokemon-icon-circular-container"></div>
    <div class="pokemons-list">
      <div class="pokemon-item"></div>
    </div>
    <div class="pokemon-info-container">
      <div class="pokemon-info-row"></div>
    </div>
  </div>
</div>
