.card-desc {
 grid-area: 2 / 1 / 4 / 2;
 display: grid;
 justify-content: center;
 align-content: start;
 justify-items: center;
 gap: var(--gap-x01);
 padding: var(--gap-x02);
 background-color: var(--support-color-02);
 visibility: hidden;
}

.card-description_zone {
    width: 100%;
    max-width: 16rem;
}

.card-description_title {
    color: var(--white);
    font-size: var(--x03);
}

.card-description_description {
    color: var(--white);
    font-size: var(--x02);
}
