.card-container {
  display: grid;
  justify-content: center;
  background-color: var(--black);
}

.card {
  display: inherit;
  flex-direction: column;
  margin: var(--gap-x01);
  padding: var(--gap-x01);
  background-color: var(--yellow);
}

.header {
  display: inherit;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
  padding: var(--gap-x01) var(--gap-x01);
  border: var(--border-size-x01) solid var(--white);
  font-size: var(--x04);
  min-width: 0;
}

.title {
  display: inherit;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  background-color: red;
}

.title h2 {
  background-color: aqua;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.symbol {
  height: var(--x03);
  width: var(--x03);
  background-color: var(--red);
  border-radius: 100%;
}

.graphic-info {
  display: flex;
  flex-direction: column;
  gap: var(--gap-x01);
  padding: 0 var(--gap-x02);
  margin: var(--gap-x02) 0;
}

.stars {
  align-self: flex-end;
  display: flex;
  column-gap: var(--gap-x01);
}

.star {
  height: var(--x03);
  width: var(--x03);
  background-color: var(--orange);
  border-radius: 100%;
}

img {
  flex: 1 1 1;
  width: 100%;
  object-fit: cover;
}

.info {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  align-items: center;
  padding: var(--gap-x01);
  border: var(--border-size-x02) solid var(--brown);
  font-size: var(--x04);
}

.info-title{

}

.info-description p{
  padding-bottom: var(--gap-x05);
  border-bottom: var(--border-size-x01) solid var(--black);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.info-status-data {
  display: flex;
  justify-content: flex-end;
}

.info-status-data span {
  padding-left: var(--gap-x02);
}

.copyright {
  display: flex;
  justify-content: space-between;
  margin-top: var(--gap-x01);
  font-size: var(--x04);
}