.life-bar_container{
    display: grid;
    grid-template-columns: auto minmax(6.8rem, 8vw);
    grid-template-rows: min-content 1fr 1fr;
    height: 100%;
    width: 100%;
    padding: 16px;
    gap: var(--gap-x01);
    z-index: 10;
    color: var(--white);
}

.top_life-bar {
    grid-area: 1 / 1 / 2 / 2;
}

.bottom_life-bar{
    grid-area: 3 / 3 / 4 / 4;
}

.duelist-name{
    grid-area: 1 / 1 / 2 / 3;
    display: grid;
    align-items: center;
    padding: var(--gap-x01);
    font-size: var(--x05);
    background-color: var(--support-color-02);
    border-radius: var(--x01);
}

.life-points{
    grid-area: 2 / 1 / 3 / 2;
    display: inherit;
    grid-template-columns: min-content min-content;
    justify-content: space-between;
    align-content: center;
    padding: var(--gap-x02) var(--gap-x01);
    font-size: var(--x04);
    background-color: var(--support-color-02);
    border-radius: var(--x01);
}

.duelist-picture{
    grid-area: 2 / 2 / 4 / 3;
    height: 100%;
    width: 100%;
    border: var(--border-size-x02) solid var(--support-color-02);
}
